@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 25, 25, 25;
  --background-end-rgb: 25, 25, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-filter {
    @apply rounded-full text-stone-500 bg-[#333333] py-0 lg:py-2 px-4 hover:bg-green-400 outline-none hover:text-gray-800 items-center flex;
  }
  .btn-filter-selected {
    @apply rounded-full text-gray-800 bg-green-400 py-2 px-4 outline-none items-center flex;
  }
  .main-container {
    @apply 2xl:w-1/2 xl:w-2/3 mx-10 xl:mx-auto my-10;
  }
}
